# Python
__pycache__/
*.pyc
.venv/

# Frontend
node_modules/
dist/

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# Logs
*.log

# Env
.env
.env.local

# Tests
test.db
.pytest_cache/

# OS
.DS_Store
Thumbs.db
