# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# 环境
.env
backend.log
backend_err.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
student-management-frontend/dist/

# OS
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.log
